<!DOCTYPE html>

<html>
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
  </head>
 
  <body ng-app>   
    <div login>
      <input type="text" ng-model="login.username">
      <button ng-click="login.check()">Login</button>
      
      <div ng-if="login.checked">
        <div ng-if="login.isAuthenticated">ACCESS GRANTED</div>
        <div ng-unless="login.isAuthenticated">ACCESS DENIED</div>
      </div>
    </div>
    
    <script type="application/dart" src="index.dart"></script>
    <script src="packages/browser/dart.js"></script>
  </body>
</html>
